<div class="main-container">
    <div class="header">
        <h1>{{title}}</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">Home</li>
        </ol>
    </div>
    <div class="backimg">
        <div class="content">
            <a href="/users" class="btn yellowBtn" id= "indexUserBtn">USERS </a>
        </div>
    </div>
</div>
 <button class="btn greenBtn" id="moreInfoBtn">More Info</button>