<h1>Welcome Users</h1>
<div id="userIndex-container">
    <div class="header">
        <h1>{{title}}</h1>
    </div>
<ul>
    {{#each listOfUsers}}
    <li>
        <a href="/users/{{_id}}">{{username}}</a>
    </li>
    {{/each}}

    <a href="/users/new"><button type="submit">Add New User</button></a>
</ul>
</div>