<div class="main-container">
    <div class="header">
        <h1>Welcome Users</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/">Home</a>
            </li>
            <li class="breadcrumb-item active">Users</li>
        </ol>
    </div>
    <div class="content-container">
        <div class="content-grid">

            {{#each listOfUsers}}
                <div class="index-content">
                    <div class="contentImg">
                        <img src="{{profilePicture}}" alt="{{username}}'s picture'" id="userIndexImg">
                    </div>
                    <div class="contentName">
                        <a href="/users/{{_id}}">{{username}}</a>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
    <a href="/users/new" class="btn yellowBtn" id="addUserBtn">Add New User</a>
</div>