<h1>Create New User</h1>

<form action="/users" method="POST">
    <div>
        <label for="username">Username</label>
        <input type="text" name="name" placeholder="Username" />
    </div>
    <div>
        <label for="profilePicture">Profile Picture URL</label>
        <input type="text" name="Profile Picture" />
    </div>
    <div>
        <label for="favoriteBeer">Favorite Beer</label>
        <input type="text" name="favoriteBeer" placeholder="Favorite Beer" />
    </div>
    <div>
        <label for="favoriteBrewery">Favorite Brewery</label>
        <input type="text" name="favoriteBrewery" placeholder="Favorite Brewery" />
    </div>
    
    <button type="submit">Save User</button>
</form>